In [19]:
%run one.ipynb

In [20]:
dfa1

                 High        Low       Open      Close       Volume  Adj Close
Date
2011-01-03  15.154905  14.926927  14.926927  15.123874   94513392.0  15.123874
2011-01-04  15.169670  15.018018  15.155656  15.068068   72907020.0  15.068068
2011-01-05  15.273524  15.016266  15.016767  15.241992  101190708.0  15.241992
2011-01-06  15.476226  15.266517  15.282282  15.352853   82229688.0  15.352853
2011-01-07  15.471722  15.268519  15.413163  15.426426   83963952.0  15.426426
...               ...        ...        ...        ...          ...        ...
2014-12-24  27.014500  26.754999  26.941000  26.846500   14754000.0  26.846500
2014-12-26  27.162500  26.774500  26.846500  27.076000   22270000.0  27.076000
2014-12-29  27.196501  26.858000  27.025000  26.865499   44300000.0  26.865499
2014-12-30  26.892000  26.680500  26.747999  26.764000   20972000.0  26.764000
2014-12-31  26.920000  26.510000  26.886999  26.533001   24648000.0  26.533001

[1006 rows x 6 columns]

In [21]:
import talib as ta

In [22]:
OBV=ta.OBV(dfa1['Close'], dfa1['Volume'])
OBV

Date
2011-01-03    9.451339e+07
2011-01-04    2.160637e+07
2011-01-05    1.227971e+08
2011-01-06    2.050268e+08
2011-01-07    2.889907e+08
                  ...
2014-12-24    2.403581e+09
2014-12-26    2.425851e+09
2014-12-29    2.381551e+09
2014-12-30    2.360579e+09
2014-12-31    2.335931e+09
Length: 1006, dtype: float64

In [23]:
dfa1['OBV']=OBV
dfa1

,High,Low,Open,Close,Volume,Adj Close,OBV
Date,,,,,,,
2011-01-03,15.154905,14.926927,14.926927,15.123874,94513392.0,15.123874,9.451339e+07
2011-01-04,15.169670,15.018018,15.155656,15.068068,72907020.0,15.068068,2.160637e+07
2011-01-05,15.273524,15.016266,15.016767,15.241992,101190708.0,15.241992,1.227971e+08
2011-01-06,15.476226,15.266517,15.282282,15.352853,82229688.0,15.352853,2.050268e+08
2011-01-07,15.471722,15.268519,15.413163,15.426426,83963952.0,15.426426,2.889907e+08
...,...,...,...,...,...,...,...
2014-12-24,27.014500,26.754999,26.941000,26.846500,14754000.0,26.846500,2.403581e+09
2014-12-26,27.162500,26.774500,26.846500,27.076000,22270000.0,27.076000,2.425851e+09
2014-12-29,27.196501,26.858000,27.025000,26.865499,44300000.0,26.865499,2.381551e+09
2014-12-30,26.892000,26.680500,26.747999,26.764000,20972000.0,26.764000,2.360579e+09
2014-12-31,26.920000,26.510000,26.886999,26.533001,24648000.0,26.533001,2.335931e+09

In [24]:
import datetime
import pandas_datareader.data as web
import matplotlib.pyplot as plt

## Data For Average Calculation

In [25]:
start=datetime.datetime(2010,1,2)
end=datetime.datetime(2014,12,31)
google=web.DataReader('GOOGL','yahoo',start,end)
dfa1_all=google
dfa1_all

Date
2010-01-04          NaN
2010-01-05          NaN
2010-01-06          NaN
2010-01-07          NaN
2010-01-08          NaN
                ...
2014-12-24    26.814800
2014-12-26    26.786917
2014-12-29    26.755033
2014-12-30    26.721850
2014-12-31    26.695217
Length: 1258, dtype: float64

## MA30

In [36]:
MA30=ta.MA(dfa1_all['Close'], timeperiod=30, matype=0)
MA30=MA30.loc['2011-01-03':'2014-12-31']
MA30=MA30.array
dfa1['MA30']=MA30

## MA50

In [37]:
MA50=ta.MA(dfa1_all['Close'], timeperiod=50, matype=0)
MA50=MA50.loc['2011-01-03':'2014-12-31']
MA50=MA50.array
dfa1['MA50']=MA50

## MA200

In [38]:
MA200=ta.MA(dfa1_all['Close'], timeperiod=200, matype=0)
MA200=MA200.loc['2011-01-03':'2014-12-31']
MA200=MA200.array
dfa1['MA200']=MA200

In [39]:
dfa1

,High,Low,Open,Close,Volume,Adj Close,OBV,MA30,MA50,MA200
Date,,,,,,,,,,
2011-01-03,15.154905,14.926927,14.926927,15.123874,94513392.0,15.123874,9.451339e+07,14.770137,14.993594,13.264135
2011-01-04,15.169670,15.018018,15.155656,15.068068,72907020.0,15.068068,2.160637e+07,14.779555,14.988383,13.269718
2011-01-05,15.273524,15.016266,15.016767,15.241992,101190708.0,15.241992,1.227971e+08,14.794444,14.984665,13.277235
2011-01-06,15.476226,15.266517,15.282282,15.352853,82229688.0,15.352853,2.050268e+08,14.819878,14.982112,13.284263
2011-01-07,15.471722,15.268519,15.413163,15.426426,83963952.0,15.426426,2.889907e+08,14.837788,14.982097,13.290965
...,...,...,...,...,...,...,...,...,...,...
2014-12-24,27.014500,26.754999,26.941000,26.846500,14754000.0,26.846500,2.403581e+09,26.814800,27.107500,28.227696
2014-12-26,27.162500,26.774500,26.846500,27.076000,22270000.0,27.076000,2.425851e+09,26.786917,27.108290,28.214295
2014-12-29,27.196501,26.858000,27.025000,26.865499,44300000.0,26.865499,2.381551e+09,26.755033,27.108680,28.201876
2014-12-30,26.892000,26.680500,26.747999,26.764000,20972000.0,26.764000,2.360579e+09,26.721850,27.120990,28.186534
2014-12-31,26.920000,26.510000,26.886999,26.533001,24648000.0,26.533001,2.335931e+09,26.695217,27.119270,28.167640

## MACD

In [51]:
macd, macdsignal, macdhist = ta.MACD(dfa1_all['Close'], fastperiod=12, slowperiod=26, signalperiod=9)
MACD=macd.loc['2011-01-03':'2014-12-31']
MACD=MACD.array
dfa1['MACD']=MACD
dfa1

,High,Low,Open,Close,Volume,Adj Close,OBV,MA30,MA50,MA200,MACD
Date,,,,,,,,,,,
2011-01-03,15.154905,14.926927,14.926927,15.123874,94513392.0,15.123874,9.451339e+07,14.770137,14.993594,13.264135,0.083001
2011-01-04,15.169670,15.018018,15.155656,15.068068,72907020.0,15.068068,2.160637e+07,14.779555,14.988383,13.269718,0.084373
2011-01-05,15.273524,15.016266,15.016767,15.241992,101190708.0,15.241992,1.227971e+08,14.794444,14.984665,13.277235,0.098360
2011-01-06,15.476226,15.266517,15.282282,15.352853,82229688.0,15.352853,2.050268e+08,14.819878,14.982112,13.284263,0.117041
2011-01-07,15.471722,15.268519,15.413163,15.426426,83963952.0,15.426426,2.889907e+08,14.837788,14.982097,13.290965,0.136213
...,...,...,...,...,...,...,...,...,...,...,...
2014-12-24,27.014500,26.754999,26.941000,26.846500,14754000.0,26.846500,2.403581e+09,26.814800,27.107500,28.227696,-0.275374
2014-12-26,27.162500,26.774500,26.846500,27.076000,22270000.0,27.076000,2.425851e+09,26.786917,27.108290,28.214295,-0.199023
2014-12-29,27.196501,26.858000,27.025000,26.865499,44300000.0,26.865499,2.381551e+09,26.755033,27.108680,28.201876,-0.153728
2014-12-30,26.892000,26.680500,26.747999,26.764000,20972000.0,26.764000,2.360579e+09,26.721850,27.120990,28.186534,-0.124585
2014-12-31,26.920000,26.510000,26.886999,26.533001,24648000.0,26.533001,2.335931e+09,26.695217,27.119270,28.167640,-0.118760

## RSI

In [54]:
RSI = ta.RSI(dfa1_all['Close'], timeperiod=14)
RSI=RSI.loc['2011-01-03':'2014-12-31']
RSI=RSI.array
dfa1['RSI']=RSI
dfa1

,High,Low,Open,Close,Volume,Adj Close,OBV,MA30,MA50,MA200,MACD,RSI
Date,,,,,,,,,,,,
2011-01-03,15.154905,14.926927,14.926927,15.123874,94513392.0,15.123874,9.451339e+07,14.770137,14.993594,13.264135,0.083001,58.136948
2011-01-04,15.169670,15.018018,15.155656,15.068068,72907020.0,15.068068,2.160637e+07,14.779555,14.988383,13.269718,0.084373,56.008491
2011-01-05,15.273524,15.016266,15.016767,15.241992,101190708.0,15.241992,1.227971e+08,14.794444,14.984665,13.277235,0.098360,60.822555
2011-01-06,15.476226,15.266517,15.282282,15.352853,82229688.0,15.352853,2.050268e+08,14.819878,14.982112,13.284263,0.117041,63.559872
2011-01-07,15.471722,15.268519,15.413163,15.426426,83963952.0,15.426426,2.889907e+08,14.837788,14.982097,13.290965,0.136213,65.293004
...,...,...,...,...,...,...,...,...,...,...,...,...
2014-12-24,27.014500,26.754999,26.941000,26.846500,14754000.0,26.846500,2.403581e+09,26.814800,27.107500,28.227696,-0.275374,52.113598
2014-12-26,27.162500,26.774500,26.846500,27.076000,22270000.0,27.076000,2.425851e+09,26.786917,27.108290,28.214295,-0.199023,54.639064
2014-12-29,27.196501,26.858000,27.025000,26.865499,44300000.0,26.865499,2.381551e+09,26.755033,27.108680,28.201876,-0.153728,51.933648
2014-12-30,26.892000,26.680500,26.747999,26.764000,20972000.0,26.764000,2.360579e+09,26.721850,27.120990,28.186534,-0.124585,50.631832
2014-12-31,26.920000,26.510000,26.886999,26.533001,24648000.0,26.533001,2.335931e+09,26.695217,27.119270,28.167640,-0.118760,47.701203