In [9]:
import datetime
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import numpy as np
import talib as ta
import pandas as pd
PreStock = 'OXY'
BSyear,BSmonth,BSday= 2017,1,2
Syear,Smonth,Sday= 2018,1,2
Eyear,Emonth,Eday= 2018,12,31
Sdate ="%s-%s-%s" % (Syear,Smonth,Sday)
Edate ="%s-%s-%s" % (Eyear,Emonth,Eday)

In [10]:
start=datetime.datetime(Syear,Smonth,Sday)
end=datetime.datetime(Eyear,Emonth,Eday)
Stockdata=web.DataReader(PreStock,'yahoo',start,end)
dfa1=Stockdata

start=datetime.datetime(BSyear,BSmonth,BSday)
end=datetime.datetime(Eyear,Emonth,Eday)
Stockdata=web.DataReader(PreStock,'yahoo',start,end)
dfa1_all=Stockdata

In [11]:
ohlc4=(dfa1_all['Close']+dfa1_all['Low']+dfa1_all['High']+dfa1_all['Open'])/4

EMA2=ta.EMA(ohlc4, timeperiod=2)
EMA26=ta.EMA(EMA2, timeperiod=26)
EMA12=ta.EMA(EMA2, timeperiod=12)

EMA26=EMA26.loc[Sdate:Edate]
EMA26=EMA26.array
dfa1['EMA26']=EMA26

EMA12=EMA12.loc[Sdate:Edate]
EMA12=EMA12.array
dfa1['EMA12']=EMA12

EMA2=EMA2.loc[Sdate:Edate]
EMA2=EMA2.array
dfa1['EMA2']=EMA2

ohlc4=ohlc4.loc[Sdate:Edate]
ohlc4=ohlc4.array
dfa1['ohlc4']=ohlc4

In [12]:
fastslow = []
for i in range(len(dfa1)):
    if dfa1['EMA12'][i] > dfa1['EMA26'][i]:
        fastslow.append(1)
    elif dfa1['EMA26'][i] > dfa1['EMA12'][i]:
        fastslow.append(-1)
    else:
        fastslow.append(0)
        
color = []
for i in range(len(dfa1)):
    if fastslow[i] == 1 and dfa1['EMA2'][i] > dfa1['EMA12'][i]:
        color.append(1) 
    elif fastslow[i] == -1 and dfa1['EMA2'][i] > dfa1['EMA12'][i]:
        color.append(0.5)
    elif fastslow[i] == -1 and dfa1['EMA2'][i] < dfa1['EMA12'][i]:
        color.append(-1) 
    elif fastslow[i] == 1 and dfa1['EMA2'][i] < dfa1['EMA12'][i]:
        color.append(-0.5) 
    else:
        color.append(0)
        
signalcdc = []        
for i in range(len(dfa1)):
    if color[i] == 1 and fastslow[i] == 1 and fastslow[i-1] == -1:
        signalcdc.append(1) 
    elif color[i] == 0.5 and fastslow[i] == 1 and fastslow[i-1] == -1:
        signalcdc.append(0.5)
    elif color[i] == -1 and fastslow[i] == -1 and fastslow[i-1] == 1:
        signalcdc.append(-1) 
    elif color[i] == -0.5 and fastslow[i] == -1 and fastslow[i-1] == 1:
        signalcdc.append(-0.5) 
    else:
        signalcdc.append(0)
signal={'CDC_signal':signalcdc}
df_signal=pd.DataFrame(signal)

In [13]:
df_signal

     CDC_signal
0             1
1             0
2             0
3             0
4             0
..          ...
246           0
247           0
248           0
249           0
250           0

[251 rows x 1 columns]