In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\windows 11\anaconda3\lib\site-packages (0.1.72)
Requirement already satisfied: requests>=2.26 in c:\users\windows 11\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\windows 11\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in c:\users\windows 11\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: pandas>=0.24.0 in c:\users\windows 11\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: lxml>=4.5.1 in c:\users\windows 11\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\windows 11\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\windows 11\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\windows 11\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)

In [2]:
import talib

In [3]:
import yfinance as yf

In [14]:
start="2020-01-01"
end="2021-01-01"
data_1=yf.download("AAPL")
data_1

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100178,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094952,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087983,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090160,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092774,73449600
...,...,...,...,...,...,...
2022-06-15,134.289993,137.339996,132.160004,135.429993,135.429993,91533000
2022-06-16,132.080002,132.389999,129.039993,130.059998,130.059998,108123900
2022-06-17,130.070007,133.080002,129.809998,131.559998,131.559998,134118500
2022-06-21,133.419998,137.059998,133.320007,135.869995,135.869995,80785400
2022-06-22,134.789993,137.755005,133.910004,136.919998,136.919998,24934524

In [7]:
real = talib.RSI(data_1['Close'], timeperiod=14)
real

Date
2018-12-31          NaN
2019-01-02          NaN
2019-01-03          NaN
2019-01-04          NaN
2019-01-07          NaN
                ...
2019-12-24    74.436585
2019-12-26    78.678994
2019-12-27    78.405656
2019-12-30    79.598963
2019-12-31    80.999258
Length: 253, dtype: float64

In [11]:
real_2 = talib.MA(data_1['Close'], timeperiod=30, matype=0)
real_2

Date
2019-12-31           NaN
2020-01-02           NaN
2020-01-03           NaN
2020-01-06           NaN
2020-01-07           NaN
                 ...
2020-12-24    122.509333
2020-12-28    123.092000
2020-12-29    123.612333
2020-12-30    124.059666
2020-12-31    124.503000
Length: 254, dtype: float64

In [15]:
macd, macdsignal, macdhist = talib.MACD(data_1['Close'], fastperiod=12, slowperiod=26, signalperiod=9)
macd

(Date
 1980-12-12         NaN
 1980-12-15         NaN
 1980-12-16         NaN
 1980-12-17         NaN
 1980-12-18         NaN
                 ...
 2022-06-15   -4.470449
 2022-06-16   -4.970464
 2022-06-17   -5.185911
 2022-06-21   -4.951793
 2022-06-22   -4.628176
 Length: 10470, dtype: float64,
 Date
 1980-12-12         NaN
 1980-12-15         NaN
 1980-12-16         NaN
 1980-12-17         NaN
 1980-12-18         NaN
                 ...
 2022-06-15   -3.689046
 2022-06-16   -3.945329
 2022-06-17   -4.193446
 2022-06-21   -4.345115
 2022-06-22   -4.401727
 Length: 10470, dtype: float64,
 Date
 1980-12-12         NaN
 1980-12-15         NaN
 1980-12-16         NaN
 1980-12-17         NaN
 1980-12-18         NaN
                 ...
 2022-06-15   -0.781403
 2022-06-16   -1.025134
 2022-06-17   -0.992465
 2022-06-21   -0.606678
 2022-06-22   -0.226448
 Length: 10470, dtype: float64)