In [1]:
import pandas as pd
import numpy as np

In [2]:
dfo=pd.read_csv('AAPLtesting2022aroon_signal.csv')
dfo.drop(dfo.columns[[0]],axis=1,inplace=True)

In [3]:
dfo

,adx_signal,macd_signal,ma30_200_signal,ma50_200_signal,ma30_50_signal,cdc_signal,sar_signal,roc_signal,obv_signal,rsi_signal,bb_signal,wpr_signal,stoch_signal,cci_signal,atr_signal,aroon_signal,close_price,adj_close_price
0,1,0,1,1,1,1.0,0,1,-1,0,0,0,0,0,-1,0,182.009995,180.959732
1,0,0,0,0,0,0.0,1,0,0,0,-1,0,0,0,0,1,179.699997,178.663071
2,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,174.919998,173.910660
3,0,0,0,0,0,-0.5,0,-1,0,0,0,0,1,0,0,0,172.000000,171.007523
4,0,0,0,0,0,0.0,-1,0,0,0,0,0,0,0,0,0,172.169998,171.176529
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,146.630005,146.630005
233,0,0,0,0,0,-1.0,0,0,-1,0,0,0,0,0,0,0,142.910004,142.910004
234,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,140.940002,140.940002
235,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,142.649994,142.649994
236,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,142.160004,142.160004

In [4]:
count1,count2,count3=0,0,0
decision_d_l=[]
def testing(td,w,df,sl):
    global count1,count2,count3
    mon=100000
    amount=0
    sumall=0
    for i in range(0,len(df)-1):
        decision_d= ((w[0]*sl[i][0]+w[1]*sl[i][1]+w[2]*sl[i][2]+w[3]*sl[i][3]+w[4]*sl[i][4]+w[5]*sl[i][5]+w[6]*sl[i][6]+w[7]*sl[i][7]+w[8]*sl[i][8]
                      +w[9]*sl[i][15])/sum(w))
        # if i!=0:
        #     if df['adj_close_price'][i]<df['adj_close_price'][i-1]*0.2:
        #             mon+=amount*dfo['Close'][i]*0.998
        #             amount=0
        if decision_d>td:
            sumall=mon//df['adj_close_price'][i]
            amount+=sumall
            mon-=sumall*df['adj_close_price'][i]*1.002
            count1+=1
        elif decision_d<-td:
            mon+=amount*df['adj_close_price'][i]*0.998
            amount=0
            count2+=1
        else:
            count3+=1
        decision_d_l.append(mon+amount*df['adj_close_price'][i])
    ret=mon+amount*df['adj_close_price'][len(df)-1]
    return (ret-100000)/1000

In [5]:
def make_sl(df):
    sl=[]
    for i in range (1,len(df)):
        s_i=df.iloc[i-1]
        sl.append(s_i)
    return (sl)

In [65]:
td=0.2
aapl popsize=60
373.78068118667613
[0.0063693 , 0.14829184, 0.19138817, 0.08799562, 0.00557351,
       0.53011434, 0.00983003, 0.00407618, 0.01082719, 0.00553384]
-19.371030760711715
aapl popsize=80
350.05034653320337
[0.02400695, 0.05303628, 0.0877101 , 0.2992148 , 0.01070987,
       0.00089558, 0.19255277, 0.09231391, 0.12636539, 0.11319436]
-28.460249548858673
๒
[0.20448372, 0.02005771, 0.03259254, 0.2035807 , 0.08547124,
       0.01841031, 0.22438302, 0.01547884, 0.17653199, 0.01900993]
1.70573616897584

SyntaxError: invalid syntax (3690705427.py, line 2)

In [21]:
a=[0.12477072, 0.16816646, 0.09220094, 0.17747911, 0.07930161,
       0.04247214, 0.15233733, 0.06914335, 0.01749867, 0.07662965]

In [22]:
a=np.array(a)
a=a/sum(a)

In [24]:
testing(0.1928222,a,dfo,make_sl(dfo))

-8.555861726043732

In [46]:
dfo

,adx_signal,macd_signal,ma30_200_signal,ma50_200_signal,ma30_50_signal,cdc_signal,sar_signal,roc_signal,obv_signal,rsi_signal,bb_signal,wpr_signal,stoch_signal,cci_signal,atr_signal,aroon_signal,close_price,adj_close_price
0,0,0,1,1,-1,1.0,0,1,1,0,0,0,0,0,1,0,399.926666,399.926666
1,0,0,0,0,0,0.0,1,0,0,0,0,0,0,0,0,0,383.196655,383.196655
2,0,0,0,0,0,0.0,0,0,-1,0,0,0,0,0,0,1,362.706665,362.706665
3,0,0,0,0,0,0.0,0,0,0,0,0,0,1,0,0,0,354.899994,354.899994
4,0,0,0,0,0,-0.5,0,-1,0,0,0,0,0,0,0,0,342.320007,342.320007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,182.449997,182.449997
233,0,0,0,0,0,-1.0,0,0,-1,0,0,0,0,0,0,0,179.820007,179.820007
234,0,0,0,0,0,0.0,0,0,0,0,0,0,1,0,0,1,174.039993,174.039993
235,0,0,0,0,0,0.0,-1,-1,0,0,0,0,0,0,0,0,173.440002,173.440002
236,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0,0,0,179.050003,179.050003